body{
    background-color: white;
    margin-left: 65vw;
    margin-top: 10vh;
}

h1{
    font-size: 48px;
    font-family: 'Helvetica';
    text-align: center;
}

p{
    font-size: 16px;
    font-family: 'Helvetica';
    text-align: center;
    position: absolute;
    background-color: #EFEFEF;
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    width: 55vw;
    height: 80px;
    color: black;
    right: 35vw;
    top: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 120%;
}

  .button {
	background-color: white;
   border: 1px solid #DBDBDB;
	border-radius: 8px;
	font-weight: bold;
   text-align: center;
   padding: 30px;
   font-size: 24px;
	color: #C1C1C1;
   font-family: 'Helvetica';
	cursor: pointer;
	display: block;
   margin: 20px;
}

input {
	appearance: none;
	margin: 0;
}

.button:hover {
	background-color: #EFEFEF;
	border:  .5px solid #8E8E92;
	color: black;
}

.photo {
   width: 60vw;
   height: 70vh;
   position: absolute;
   left: 5vw;
   top: 8vh;
   object-fit: cover;
   z-index: -1;
   object-position: center;
 }

#errands{
   object-position: 0vh 300vh !important;
}
 
#laundry {
   object-position: 0vh -200vh !important;
}